* {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
}

p {
    margin: 10px;
}

h3 {
    margin: 15px 0 10px 10px;
    font-size: 1.2em;
    font-weight: bold;
    clear: both;
}

.attention{
	margin:0;
	width:100%;
	color:#826200;
	font-weight: bold;
 	line-height: 1.2;
 	padding: 15px 25px;
 	text-align:center;
	background:#fbe5a8;
	text-shadow: 0 1px 1px #fff;
}
